// -------------------------------------
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;

    overflow: auto;
    visibility: hidden; 
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.overlayVisible {
    visibility: visible;
    opacity: 1;
}
.drawer {
    display: flex;
    flex-direction: column;

    position: absolute;

    width: 420px;
    min-height: 100%;
    right: 0px;

    background-color: #fff;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.5);
    padding: 30px;

    transform: translateX(100%);
    transition: all 0.3s ease 0s;

    &.drawerVisible{
        transform: translateX(0);
    }    

    .drawer__top {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .drawer__remove {
            margin-right: 20px;
            transform: translateY(-5px) rotate(45deg) scale(1.3);
            opacity: 0.5;
            transition: all 0.3s ease 0s;
            align-self: center;
            &:hover {
                transform: translateY(-5px) rotate(45deg) scale(1.8);
                opacity: 1;
            }
        }
    }

    .drawer__title {
        font-size: 24px;
        margin-bottom: 20px;
        color: #000;
    }

    .drawer__info {
        flex: 1 auto;
        display: flex;
    }

    .drawer__items {
        flex: auto;
        color: #000;
    }

    .drawer__footer {
        display: flex;
        flex-direction: column;

        & .total__list {
            & .total__item {
                display: flex;
                position: relative;
                margin-bottom: 20px;
                color: #000;
                &:not(:last-of-type) {
                    margin-bottom: 10px;
                }
                & .dash {
                    margin-bottom: 3px;
                    flex: auto;
                    border-bottom: 1px dashed #ccc;
                }
            }
        }
        .total__btn {
        }
    }
}
// -------------------------------------
// cart
.cart__items {
    display: flex;
    flex-direction: column;

    overflow: auto;
    margin-bottom: 40px;

    & .cart__item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        border: 1px solid #abb49b;
        border-radius: 20px;
        overflow: hidden;

        padding: 10px;
        transition: all 0.3s ease 0s;

        &:not(:last-of-type) {
            margin-bottom: 10px;
        }
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
        & .itemCart__body {
            & .itemCart__model {
            }
            & .itemCart__bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            & .itemCart__price {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                & span {
                    font-size: 12px;
                    text-transform: uppercase;
                    opacity: 0.5;
                }
                & p {
                    font-size: 13px;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin: 0;
                }
            }
        }
        & .itemCart__remove {
            padding-right: 10px;
            transform: translateY(5px) rotate(45deg);
            opacity: 0.5;
            transition: all 0.3s ease 0s;
            &:hover {
                transform: translateY(5px) rotate(45deg) scale(1.2);
                opacity: 1;
            }
        }
    }
}
